data/index.faiss      filter=lfs diff=lfs merge=lfs -text
data/metadata.parquet filter=lfs diff=lfs merge=lfs -text
data/experiments/T2/index.faiss      filter=lfs diff=lfs merge=lfs -text
data/experiments/T2/metadata.parquet filter=lfs diff=lfs merge=lfs -text
data/experiments/T-optimized/index.faiss      filter=lfs diff=lfs merge=lfs -text
data/experiments/T-optimized/metadata.parquet filter=lfs diff=lfs merge=lfs -text
rag_api/onnx/e5-small-v2/model.onnx filter=lfs diff=lfs merge=lfs -text
data/experiments/T-optimized-onnx/index.faiss      filter=lfs diff=lfs merge=lfs -text
data/experiments/T-optimized-onnx/metadata.parquet filter=lfs diff=lfs merge=lfs -text
